body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}
button, input {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

#priceBar {
  display: flex;
  justify-content: center;   /* center all items */
  gap: 2em;                  /* space between each */
  font-size: 18px;
  margin: 10px 0;
}

#priceBar span {
  display: inline-block;
}
